@media (max-width: 960px) {
  .main-div{
    width: 100%;
    padding: 50px;
  }
  .start-quiz h1 {
    font-size: 3.6rem;
  }
  .example {
    padding: 50px 50px;
    width: calc(100% - 100px);
  }
  .example .image{
    width: 80%;
  }
  [type="checkbox"] + label {
    width: calc(100% - 95px);
  }
}
@media (max-width:740px) {
  .example .image{
    width: 100%;
  }
  .start-quiz {
    margin: 0 2rem;
  }
}
@media (max-width: 637px) {
  .start-quiz h1 {
    font-size: 3rem;
  }
  .start-quiz h2 {
    font-size: 1.5rem;
    margin: 0 auto;
  }
  .start-quiz button {
    width: 55%;
    font-size: 1rem;
  }
  .middle {
    font-size: 8rem;
  }
}
@media (max-width:480px){
  .wrapper {
    width: 100%;
  }
  label {
    font-size: 0.9rem;
  }
  .question-display{
    height: 400px;
  }
  .main-div{
    padding: 50px 20px;
  }
  .example{
    width: calc(100% - 40px);
    padding: 50px 20px;
  }
  footer{
    padding: 20px 10px;
    font-size:1rem;
  }
  .question-display{
    height: 420px;
  }
  [type="checkbox"] + label {
    width: calc(100% - 40px);
  }
}
@media(max-width:398px){
  legend{
    font-size: 1rem;
  }
  .text{
    font-size:7rem;
  }
  .start-quiz button {
    width: 70%;
  }
  .start-quiz h1 {
    font-size: 2.5rem;
  }
}