// colors
$primary: #d0cfec;
$secondary: #434343;
$tertiary: #930101;
$pastel1: #d6f9dd;
$pastel2: #f2dfd7;
$pastel3: #b3fafa;
$pastel4: #fbf8b0;



// fonts
$headerFont: 'Courgette', cursive;
$questionFont: 'Open Sans', sans-serif;
$questionHeader: 'Lato', sans-serif;


